<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/general :: head"></head>
<head>
    <link href="../static/css/editprofile.css" th:href="@{/css/editprofile.css}" rel="stylesheet" />
    <link href="../static/css/datatableProfile.css" th:href="@{/css/datatableProfile.css}" rel="stylesheet" />

    <header th:replace="fragments/general_welcome :: header"></header>

</head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/general :: header"></header>

<section>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>[[${user.getFirstName()}]]</h4>
                                    <p class="text-secondary mb-1">
                                        <a th:each="cat : ${categories}"
                                           th:value ="${cat.getCategoryName()}" th:text="${cat.getCategoryName()} + ', ' "></a>
                                    </p>
                                    <p class="text-muted font-size-sm">[[${user.getAddress()}]]</p>
                                    <button class="btn btn-outline-primary">Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    [[${user.getFirstName()}]] [[${user.getLastName()}]]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    [[${user.getEmail()}]]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    [[${user.getPhone()}]]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Role</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    [[${user.getAppUserRole()}]]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    [[${user.getAddress()}]]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " target="__blank" th:href="@{EditProfile}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <strong style="color:teal; font-size:30px;">MY ADS: </strong>
    <table id="example1" class="display" style="width:100%; margin-top:130px;">
        <thead>
        <tr>
            <th>Ad Id</th>
            <th>Category</th>
            <th>City</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link to the ad</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="ad: ${usersAds}">
            <tr>
                <td>[[${ad.getId()}]]</td>
                <td>[[${ad.getCategory().getCategoryName()}]]</td>
                <td>[[${ad.getCity().getCityName()}]]</td>
                <td>$[[${ad.getPrice()}]]</td>
                <td>[[${ad.getCreatedAt().getMonth().toString()}]] [[${ad.getCreatedAt().getDayOfMonth()}]] [[${ad.getCreatedAt().getYear()}]]</td>
                <td th:if="${ad.isFinished}">Finished</td>
                <td th:if="${!ad.isPicked}">Pending</td>
                <td th:if="${ad.isPicked}">Applied</td>
                <td th:if="${ad.getUser().getId() == currentUser.getId()}">Owner</td>
                <td th:if="${ad.getUser().getId() != currentUser.getId()}">Not owner</td>
                <td><a th:href="@{showMyAd?id=}+${ad.getId()}"/>Check out your ad!</td>

            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <th>Ad Id</th>
            <th>Category</th>
            <th>City</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link to the ad</th>
        </tr>
        </tfoot>
    </table>
</section>


<section>
    <strong style="color:teal; font-size:30px;">ADS I APPLIED FOR: </strong>
    <table id="example2" class="display" style="width:100%; margin-top:130px;">
        <thead>
        <tr>
            <th>Ad Id</th>
            <th>Category</th>
            <th>City</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link to the ad</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="ad: ${adAppliedList}">
            <tr>
                <td>[[${ad.getId()}]]</td>
                <td>[[${ad.getCategory().getCategoryName()}]]</td>
                <td>[[${ad.getCity().getCityName()}]]</td>
                <td>$[[${ad.getPrice()}]]</td>
                <td>[[${ad.getCreatedAt().getMonth().toString()}]] [[${ad.getCreatedAt().getDayOfMonth()}]] [[${ad.getCreatedAt().getYear()}]]</td>
                <td th:if="${ad.isFinished}">Finished</td>
                <td th:if="${!ad.isPicked}">Pending</td>
                <td th:if="${ad.isPicked}">Applied</td>
                <td th:if="${ad.getUser().getId() == currentUser.getId()}">Owner</td>
                <td th:if="${ad.getUser().getId() != currentUser.getId()}">Not owner</td>
                <td><a th:href="@{showAd?id=}+${ad.getId()}"/>Check out your ad!</td>

            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <th>Ad Id</th>
            <th>Category</th>
            <th>City</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link to the ad</th>
        </tr>
        </tfoot>
    </table>
</section>


<footer th:fragment="footer" id="footer" class="footer mt-auto py-3">
    <div class="container1">
        <p>&#169; 2021 Cutura productions</p>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script>
    $("#example10").DataTable()
</script>
<script>
    $("#example").DataTable()
</script>
<script>
    $("#example1").DataTable()
</script>
<script>
    $("#example2").DataTable()
</script>
<script>
    $("#example3").DataTable()
</script>
<script>
    $("#example4").DataTable()
</script>
</html>