<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/general :: head"></head>
<head>
  <link href="../static/css/testCss.css" th:href="@{/css/testCss.css}" rel="stylesheet" />

  <header th:replace="fragments/general_welcome :: header"></header>
  <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {width: 250px;}
    .button2 {width: 500px;}
    .button3 {width: 100%;}
  </style>
</head>
<body class="d-flex flex-column h-100">

<header th:replace="fragments/general :: header"></header>

<section>
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">AD DETAILS:</h4>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Title</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getTitle()}]]
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getDescription()}]]
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Price</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getPrice()}]]$
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Created at</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getCreatedAt().getMonth().toString()}]] [[${ad.getCreatedAt().getDayOfMonth()}]] [[${ad.getCreatedAt().getYear()}]]
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Category</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getCategory().getCategoryName()}]]
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  [[${ad.getCity().getCityName()}]]
                </div>
              </div>
              <hr>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">


                <form th:action="@{/send-message}" method="post">
                  [[${message}]]
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer th:fragment="footer" id="footer" class="footer mt-auto py-3">
  <div class="container1d">
    <p>&#169; 2021 Cutura productions</p>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>

</html>